@{
    ViewData["Title"] = "Home of the books";
}

<div class="text-center">
    <h1 >Welcome  to the library!</h1>
    <h3>To see books, navigate in the menu above.</h3>

    <p>You can:</p>
    <ul id="ppp">
        <li>Display all books.</li>
        <li>Search for books by author or title.</li>
        <li>Sort the displayed books by availability, nonavailability, or by year.</li>
        <li>Create, update, delete, or view the details of a book.</li>
    </ul>
</div>
